<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Override with -Dlogback.configurationFile=/home/user/path/logback.xml -->
	<!-- http://logback.qos.ch/manual/layouts.html -->
	<appender name="default" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %.-1level %logger{30} %msg%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="default" />
	</root>
	<logger name="org.apache.sshd" >
		<level value="WARN" />
	</logger>
</configuration>
